# Hotel Booking Analysis

In [2]:
# importing required libraries
import pandas as pd

In [3]:
# reading dataset into data frame
bookings = pd.read_csv('https://intro-datascience.s3.us-east-2.amazonaws.com/Resort01.csv', na_values='NULL')

In [4]:
# first 5 rows of the data
bookings.head()

,IsCanceled,LeadTime,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,CustomerType,RequiredCarParkingSpaces,TotalOfSpecialRequests
0,0,342,0,0,2,0,0,BB,PRT,Direct,0,0,0,C,C,3,No Deposit,Transient,0,0
1,0,737,0,0,2,0,0,BB,PRT,Direct,0,0,0,C,C,4,No Deposit,Transient,0,0
2,0,7,0,1,1,0,0,BB,GBR,Direct,0,0,0,A,C,0,No Deposit,Transient,0,0
3,0,13,0,1,1,0,0,BB,GBR,Corporate,0,0,0,A,A,0,No Deposit,Transient,0,0
4,0,14,0,2,2,0,0,BB,GBR,Online TA,0,0,0,A,A,0,No Deposit,Transient,0,1

In [6]:
bookings.info() # summary of the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   40060 non-null  int64
 1   LeadTime                     40060 non-null  int64
 2   StaysInWeekendNights         40060 non-null  int64
 3   StaysInWeekNights            40060 non-null  int64
 4   Adults                       40060 non-null  int64
 5   Children                     40060 non-null  int64
 6   Babies                       40060 non-null  int64
 7   Meal                         40060 non-null  object
 8   Country                      39596 non-null  object
 9   MarketSegment                40060 non-null  object
 10  IsRepeatedGuest              40060 non-null  int64
 11  PreviousCancellations        40060 non-null  int64
 12  PreviousBookingsNotCanceled  40060 non-null  int64
 13  ReservedRoomType             40060 non-null  object
 14  AssignedRoomType             40060 non-null  object
 15  BookingChanges               40060 non-null  int64
 16  DepositType                  40060 non-null  object
 17  CustomerType                 40060 non-null  object
 18  RequiredCarParkingSpaces     40060 non-null  int64
 19  TotalOfSpecialRequests       40060 non-null  int64
dtypes: int64(13), object(7)
memory usage: 6.1+ MB

In [17]:
bookings['Meal'].value_counts()

Meal
BB           30005
HB            8046
Undefined     1169
FB             754
SC              86
dtype: int64

In [9]:
bookings['Country'].value_counts()

PRT    17630
GBR     6814
ESP     3957
IRL     2166
FRA     1611
       ...
BIH        1
MUS        1
COM        1
UGA        1
DJI        1
Name: Country, Length: 125, dtype: int64

In [10]:
bookings['MarketSegment'].value_counts()

Online TA        17729
Offline TA/TO     7472
Direct            6513
Groups            5836
Corporate         2309
Complementary      201
Name: MarketSegment, dtype: int64

In [11]:
bookings['ReservedRoomType'].value_counts()

A                   23399
D                    7433
E                    4982
G                    1610
F                    1106
C                     918
H                     601
L                       6
B                       3
P                       2
Name: ReservedRoomType, dtype: int64

In [13]:
bookings['AssignedRoomType'].value_counts()

A                   17046
D                   10339
E                    5638
C                    2214
G                    1853
F                    1733
H                     712
I                     363
B                     159
P                       2
L                       1
Name: AssignedRoomType, dtype: int64

In [14]:
bookings['DepositType'].value_counts()

No Deposit         38199
Non Refund          1719
Refundable           142
Name: DepositType, dtype: int64

In [15]:
bookings['CustomerType'].value_counts()

Transient          30209
Transient-Party     7791
Contract            1776
Group                284
Name: CustomerType, dtype: int64